.label {
    -fx-font-size: 24;
    -fx-text-fill: #000000;
}

.label.err {
    -fx-font-size: 12;
    -fx-text-fill: #FF0000;
    -fx-font-style: italic;
}

.label.header {
    -fx-font-size: 52;
    -fx-font-weight: bold;
    -fx-text-fill: #0000C6;
}

.label.description {
    -fx-font-size: 12;
    -fx-text-fill: #000000;
    -fx-font-style: italic;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;

    -fx-border-color: #0000C6;
    -fx-border-radius: 10;

    -fx-font-size: 24;
}

.pane {
    -fx-background-color: #FFFFFF;
}

.check-box{
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}

.button {
    -fx-background-color: #326FFF;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-border-radius: 10;

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.button:hover {
 -fx-background-color: #3F40FF;
}