.pnBackground {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
}

.lbHeader {
    -fx-font-size: 52;
    -fx-font-weight:bold;
    -fx-text-fill: #1713FF;
}

.button {
    -fx-background-color: linear-gradient(to right, #4A00E0, #8E2DE2);
    -fx-background-radius: 20;

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #326FFF;
}