.pnBackground {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #050C9C, #A7E6FF);
}

.label {
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.lbHeader {
    -fx-font-size: 48;
    -fx-font-weight:bold;
    -fx-text-fill: #FFFFFF;
}

.pnHeader {
    -fx-background-color: #3ABEF9;
    -fx-background-radius: 20;
}

.pnSideBar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 0;
    -fx-border-radius: 20;
}

.btSideBarItem {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 10 10 0;
    -fx-border-color: #A7E6FF;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 0 10 10 0;

    -fx-text-fill: #000000;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.btSideBarItem:hover {
    -fx-border-width: 1 1 1 10;
    -fx-background-color: #A7E6FF;
}

.btSideBarItem:pressed {
    -fx-border-width: 1 1 1 10;
    -fx-border-color: #3ABEF9;
    -fx-background-color: #3ABEF9;
}


.pnContent {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20
}