.pnBackground {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
}

.label.header {
    -fx-font-size: 52;
    -fx-font-weight:bold;
    -fx-text-fill: #1713FF;
}

.label.error {
    -fx-font-size: 12;
    -fx-font-style: italic;
    -fx-text-fill: #FF0000;
}

.label {
    -fx-font-size: 16;
    -fx-font-weight:bold;
    -fx-text-fill: #000000;
}

.label.header2 {
    -fx-font-size: 24;
    -fx-font-weight:bold;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: #3F40FF;

    -fx-font-size: 16;
    -fx-text-fill: #000000;
}

.text-field:focused {
    -fx-background-color: #BACFFF;
}

.button {
    -fx-background-color: #326FFF;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-border-radius: 10;

    -fx-text-fill: #FFFFFF;
    -fx-font-size:18;
    -fx-font-weight: bold;
}

.button:hover {
 -fx-background-color: #3F40FF;
}

.button:disabled {
    -fx-background-color: #FFFFFF;
}

.button:pressed {
    -fx-background-color: #0000C6;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #326FFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

.table-view:focused {
    -fx-focus-color: transparent;
}

.table-cell {
    -fx-border-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}
.table-row-cell {
    -fx-background-color: #FFFFFF;
}

.table-row-cell:odd {
    -fx-background-color: #FFFFFF;
}

.table-row-cell:selected {
    -fx-background-color: #BACFFF;
}

.custom-combobox {
    -fx-background-color: white;
    -fx-border-color: #007acc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16px;
}

.custom-combobox .arrow-button {
    -fx-background-color: #007acc;
    -fx-background-radius: 0 5 5 0;
}

.custom-combobox .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #007acc;
}

.combo-box-popup .list-cell {
    -fx-padding: 5 10;
    -fx-font-size: 14px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #007acc;
}